/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#mainWindow {
    /* 背景圖片設定 */
    -fx-background-image: url("../../images/main.jpg");
    -fx-background-size: cover;
    /*background-repeat: no-repeat;
    background-position: center center;

    /* 背景模糊效果設定
    -fx-background-color: transparent;*/
    -fx-effect: blur(10px);
}